<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="LIST">
		<Arg string="[3.7]Inquisitor Worb"/>
		<Arg string=""/>
	</Mode>
	<Accounts lastAccountName="Legrems" lastRealm="PC">
		<Account accountName="Legrems" sessionID="f70e948d19da300f226585cc9bbce9b1"/>
	</Accounts>
	<SharedItems>
		<Item>
			Rarity: UNIQUE
Dying Sun
Ruby Flask
Unique ID: fd9559fb849cb82dcaa27739df48659226517c6746dd942e3909e67532abeb46
Item Level: 86
Quality: 20
LevelReq: 18
Implicits: 0
7% reduced Charges used
Skills fire 2 additional Projectiles during Flask Effect
22% increased Area of Effect during Flask Effect
		</Item>
	</SharedItems>
	<Misc showThousandsCalcs="true" showThousandsSidebar="true" nodePowerTheme="GREEN/BLUE" buildSortMode="NAME"/>
</PathOfBuilding>
